html {
  font-size: 14px;
  box-sizing: border-box;
}

.container {
  /* max-width: 1440px;
  margin: 0 auto; */
  /* display: none; */
}

.calendar-tasks {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 100vh;
}

.calendar {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  /* height: 95vh; */
  overflow-x: hidden;
}

.calendar__logo {
  width: 40px;
  height: 100%;
  margin: 5px 12.5px 5px 12.5px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f6fb;
  position: sticky;
  top: 0;
  /* border-bottom: #f0f6fb 5px solid; */
}

.calendar::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.calendar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8fb8da;
}

.calendar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.calendar__btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

.btns__one {
  margin-right: 10px;
}

.btn-navigation {
  cursor: pointer;
  background-color: white;
  color: #1e6599;
  border: 1px solid #1e6599;
  border-radius: 4px;
  padding: 7px 14px;
}
.btns__week{
  margin-right: 100px;
}

.btn-navigation:hover {
  border: 1px solid #6baad8;
}

.calendar__table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-top: transparent;
  cursor: default;
}

.calendar__thead {
  position: sticky;
  top: 50px;
  background-color: #fff;
}

.calendar__thead::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 0px 1px #6baad8;
  width: 100%;
}

.calendar__thead::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 0px 1px #6baad8;
  width: 100%;
}

.calendar__thead-th--first {
  /* width: 300px; */
}

.calendar__thead-th:not(:first-child) {
  text-align: center;
}

.calendar__thead-th {
  position: relative;
  height: 50px;
}

.calendar__thead-th::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: #ddd;
  top: 10%;
  left: calc(100% - 0.5px);
  box-shadow: 0px 0px 1px #6baad8;
}

.calendar__first-col {
  width: 60px;
}
.calendar__tbody-tr {
  break-inside: avoid;
  padding: 0;
  margin: 0;
  font-size: 12px;
  overflow-wrap: break-word;
  height: 80px;
  color: #252525;
}

.calendar__tbody-td--enter {
  position: relative;
}
.calendar__tbody-td--enter::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(87, 87, 173, 0.1);
}

.calendar__tbody-td--first {
  background-color: #f5f5f5;
  border: 1px solid #caced1;
  text-align: center;
}

.calendar__tbody-td:not(:first-child) {
  text-align: center;
  border: 1px solid #ddd;
  vertical-align: top;
  padding: 0;
  
}

.tbody-td {
  /* display: inline-block; */
  /* flex-direction: column;
  justify-content: flex-start; */
  /* height: 40px; */
}


.tbody-td__task {
  width: auto;
  background-color: #ede6da;
  border: 1px solid #b4b4af;
}

.tdbody-td__title {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  height: 20px;
  word-wrap: normal;
  white-space: nowrap; 
  overflow: hidden;
}
.tasks {
  flex: 0 0 20%;
  background-color: #f0f6fb;
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}

.tasks::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.tasks::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8fb8da;
}

.tasks::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.tasks__header {
  position: sticky;
  top: 0;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  background-color: #f0f6fb;
}

.tasks__title {
  text-align: center;
  line-height: 2px;
  cursor: default;
}

.tasks__search {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5px;
  height: 40px;
}

/* .tasks__search::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(../img/search2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: 12.5px;
  z-index: 1;
} */

.tasks__search-text {
  width: 100%;
  border: none;
  border: 1px solid #1e6599;
  /* border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; */
  border-radius: 4px;
}
.tasks__search-text:focus {
  outline: none;
}

/* .tasks__search-btn {
  width: 50px;
  height: 40px;
  background-color: transparent;
  z-index: 4;
  border: 1px solid #1e6599;
  border-left: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
} */

.tasks__name-one {
  border: 1px solid #1e6599;
  margin: 5px;
  border-radius: 4px;
  cursor: all-scroll;
  background-color: #d7e7f4;
  padding-left: 5px;
  padding-right: 5px;
}

.tasks__name-one:hover {
  background-color: #e5edf3;
}

.tasks__name-title {
  color: #1e6599;
  margin: 5px;
  margin-left: 0;
}

.tasks__description {
  color: #595959;
  margin: 5px;
  margin-left: 0;
}


@media (max-width: 992px) { 
  .tasks {
    display: none;
  }
}

@media (max-width: 768px) { 
  .btns__week{
    margin-right: 50px;
  }
}

@media (max-width: 425px) { 
  .btns__week{
    margin-right: 10px;
  }
  .btn-navigation {
    padding: 3px 6px;
  }
}